<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Tracker</title>
        {% block styles %}
        {% endblock %}
    </head>


    <body>
        <header class="text-bg-primary bg-gradient navbar navbar-expand-lg sticky-top">
            <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
                <div class="w-25">
                    <h1 class="fs-3 ps-2 m-3">Task App</h1>
                </div>
                <div>
                    <form class="input-group justify-content-center bg-transparent" action="add" method="POST" onsubmit="add_task(this, event)">
                        {% block csrf %}{% endblock %}
                        <div class="input-group-prepend">
                            <span class="input-group-text bi-list-check h-100 rounded-0 rounded-start"></span>
                        </div>
                        <div>
                            <input class="form-control col-auto rounded-0" type="text" name="name" placeholder="Task Name">
                        </div>
                        <div class="input-group-append">
                            <button class="bi bi-plus-lg btn btn-success rounded-0 rounded-end" title="Add Task" aria-label="Add Task" type="submit"></button>
                        </div>
                    </form>
                </div>
                <div class="text-end w-25 p-2 me-3">
                    <a class="bi bi-arrow-clockwise btn btn-danger m-1" title="Delete All" aria-label ="Delete All" onclick="delete_all_tasks()"></a>
                </div>
            </nav>
        </header>
        {% if in_progress %}
        <section class="container">
            <h2 class="fw-bold text-center p-3 fs-3">In Progress</h2>
            {% for task in in_progress %}
            <div class="d-flex align-items-center border rounded shadow-sm p-2 m-3">
                <p class="flex-grow-1 m-0 fw-bold">{{ task.name }}</p>
                <button class="bi bi-check-lg btn btn-primary m-1" title="Mark as Complete" aria-label="Mark as Complete" value="{{ task.id }}" onclick="update_task(this)"></button>
                <button class="bi bi-x-lg btn btn-outline-danger m-1" title="Delete Task" aria-label ="Delete Task" value="{{ task.id }}" onclick="delete_task(this)"></button>
            </div>
            {% endfor %}
        </section>
        {% endif %}

        {% if complete %}
        <h2 class="fw-bold text-center p-3 fs-3">Completed</h2>
        <section class="container">
            {% for task in complete %}
            <div class="d-flex align-items-center border rounded shadow p-2 m-3">
                <p class="flex-grow-1 m-0 fw-bold">{{ task.name }}</p>
                <button class="bi bi-dash-lg btn btn-primary m-1" title="Mark as In-Progress" aria-label="Mark as In-Progress" value="{{ task.id }}" onclick="update_task(this)"></button>
                <button class="bi bi-x-lg btn btn-outline-danger m-1" title="Delete Task" aria-label ="Delete Task" value="{{ task.id }}" onclick="delete_task(this)"></button>
            </div>
            {% endfor %}
        </section>
        {% endif %}
    </body>
</html>
